<a href="https://colab.research.google.com/github/sheli90610/Data2/blob/main/python/Unit_2_L2_String_and_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**dictonary question 1

In [ ]:
biography = {
    'first name':'jayden',
    'last name':'grace',
    'age':'25',
    'city':'brooklyn',
    'ethnnicity':['african american']}
print(biography)

{'first name': 'jayden', 'last name': 'grace', 'age': '25', 'city': 'brooklyn', 'ethnnicity': ['african american']}

dictionary question 2

In [ ]:
people ={'jackson':'23','alma':'18','rabbi'}

Multiple

In [ ]:
x = 30
if x > 30:
y = 45
x >= 25 or y <= 50
TRUE

In [ ]:
x = 30
if x <= 30:
  print('Fuck you')
else:
    print('incorrect')

Fuck you

In [ ]:
delayed_flights = ['Spirit Air', 'United', 'American Airlines']
'United' in delayed_flights

True

In [ ]:
expected_flight_delays = ['United Airline', 'Spirit', 'American Airlines']
flight_already_delayed = 'Delta'
if flight_already_delayed not in expected_flight_delays:
  print(flight_already_delayed.title() + ", is delayed")

Delta, is delayed

Lists

In [ ]:
friends = ['jesicca', 'kelly', 'jack' 'dawa']
print(friends)

In [ ]:
num=3
message = "My fav number is "+str(num)
print(message)

My fav number is 3

In [ ]:
#The len() function returns the length of a string:
 
a = "Hello, World!"
print(len(a))

13

In [ ]:
a ="Hello, World!"
print(a  +' i am here')

Hello, World! i am here

In [ ]:
#Check if "free" is present in the following text:

txt = "The best things in life are free!"
print("free" in txt)
print("hhhhe" in txt)

True
False

In [ ]:
age = 36
txt = "My name is me, and I am {} years old"
print(txt.format(age))
print("My name is me,and I am"+' ' + str(age)+"years old")

My name is me, and I am 36 years old
My name is me,and I am 36years old

In [ ]:
travel = ["Paris" , "Italy" ,"Dubai" , "Prague" , "Rome"]
travel.sort(reverse=True)
print(travel)

['Rome', 'Prague', 'Paris', 'Italy', 'Dubai']

In [ ]:






Day = 15
print(“Do you want to hangout on the” + “ ”+ str(Day) + “ ”+ “th of the month”)

SyntaxError: ignored

In [ ]:
#Demonstrate one String Concatenation example.
str_a = 'String'
str_b = 'Example' 
str_c = str_a + ' Concatenation ' + str_b
print(str_c)

String Concatenation Example

In [ ]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [ ]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
print(type(list3))

<class 'list'>

In [ ]:
thislist = ["apple", 66, "orange",]

print(thislist)

In [ ]:
#nested list only for CS track
#To add new values to the end of the nested list, use append() method.
L = ['a', ['bb', 'cc'],['f','g'], 'd']

Lw = ['a''bb','5' 'cc']
print(L)
print(Lw)
# Prints ['a', ['bb', 'cc', 'xx'], 'd']

['a', ['bb', 'cc'], ['f', 'g'], 'd']
['abb', '5cc']

In [ ]:
# insert an item at a specific position in a nested list, use insert() method.
L = ['a', ['bb', 'cc'], 'd']
L[1].insert(2,'xx')
print(L)

['a', ['bb', 'cc', 'xx'], 'd']

In [ ]:
#change the value of a specific item in a nested list by referring to its index number.
L = ['a', ['bb', 'cc'], 'd']
L[1][1] = 'k'
print(L)

In [ ]:
#You can merge one list into another by using extend() method.
L = ['a', ['bb', 'cc'], 'd']
L[1].extend(['g',2,3])
print(L)

In [ ]:
testt = ["apple", "banana", "cherry"]
if "apple" in testt:
  print("Yes, 'apple' is in the fruits list")

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

In [ ]:
fruits=[55,'banana','cherry']
print(fruits)
fruits.append("orange")
print(fruits)

In [ ]:
#Add a list to a list:
a = ["apple", "banana", "cherry"]
b = ["Ford", "BMW", "Volvo"]
a.append(b)
print(a)

In [ ]:
#Loop Through the Index Numbers
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])
print('nnn')

In [ ]:
#Insert an item as the second position:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

In [ ]:
#extend elements from another list to the current list,
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

In [ ]:
fruit1 = ["pineapple", "kwi", "cherry","Lemon","babana"]
print(fruit1)
fruit2 = ("melon", "orange")
fruit1.extend(fruit2)
print(fruit1)
print(len(fruit1))
fruit1.remove("orange")
print(fruit1)
print(len(fruit1))
fruit1.sort()
print("sorted List",fruit1)

In [ ]:
a = ["car", ["bmw", "kia", "ford"], "Truck", ["pick up", "monster truck", ["ford", "gmc"]], "motorcycle", ["Honda"]]
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[1][1])

#to get ford which is in 3rd list (second list) and 0 element
a[3][2][0]

car
['bmw', 'kia', 'ford']
Truck
['pick up', 'monster truck', ['ford', 'gmc']]
kia

'ford'

In [ ]:
fruit1 = ["pineapple", "kwi", "cherry","lemon","babana"]
print(fruit1)
fruit2 = ["melon", "orange"]
fruit1.extend(fruit2)
print(fruit1)
print(len(fruit1))
fruit1.remove("orange")
print(fruit1)
print(len(fruit1))
fruit1.sort()
print(fruit1)

In [ ]:
#Sort the list alphabetically:

cars = ['Ford', 'BMW', 'Volvo']

cars.sort()
print(cars)

In [ ]:
list1 = ['physics', 'chemistry', 1997, 2000]
list1[:3]

In [ ]:
for number in range(1, 10):
    if(number % 2 ==0):
        print(number)
        #+,-,/,*,**,% ,5 mod 2=----- reminder of (5/2) =2 and reminder =1
        #if (1%2) !0

2
4
6
8

Lecture 5

In [ ]:
bike='honda'
bike=='honda'

In [ ]:
patientexam='ecg'
if(patientexam !='ecg'):
 print('incorect exam')
print('corect exam')

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

In [ ]:
#readmit days after discharge from hospital = 29 you will ger error why?
readmit_days_after_discharge_from_hospital = 29
if readmit_days_after_discharge_from_hospital < 30:
  print ('patient readmited whithin 30 days')
else:
  print ('patient readmited after 30 days')

patient readmited whithin 30 days

In [ ]:
#multiple conditions and
a = 200
b = 33
c = 100
if a > b or c > a:
  print("one conditions are True")

In [ ]:
#multiple conditions or
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

In [ ]:
# Nested If 
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
else:
    print("but not above 20.")

In [ ]:
#Check If List Item Exists
#To determine if a specified item is present in a list use the in keyword:
#Check if "apple" is present in the list:

thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

In [ ]:
patient_exam_record=['echo','ct','scan']
'cvt' in patient_exam_record

In [ ]:
patient_exam_record_alergieas=['latex','penecilin','asperin']
new_alergie='asma'
if new_alergie in patient_exam_record_alergieas:
  print('alergie in patient_exam_record')
else:
  print('patient doesnt have '+ new_alergie)
  print(new_alergie +' is not in patient alergie list ')

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

# **Lect 6 Dictionaries**

Python Collections (Arrays)
There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered and unindexed. No duplicate members.
Dictionary is a collection which is unordered and changeable. No duplicate members.
When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

# New Section

# New Section

In [ ]:
#Dictionary
#Dictionaries are used to store data values in key:value pairs.
#A dictionary is a collection which is unordered, changeable and does not allow duplicates.
#Dictionaries are written with curly brackets, and have keys and values:
#Create and print a dictionary:

patient_1 =	{
  "first_name": "john",
  "Last_name": "baker"
}
print(patient_1['first_name'])
print(patient_1['Last_name'])
print(patient_1['first_name'],patient_1['Last_name']+' how are you')

In [ ]:
patient_1 =	{
  "first_name": "john",
  "last_name": "baker",
  'mrn':'098987'
}
patient_name=patient_1['first_name']
print("hello there, "+ patient_name)
print(patient_1)
patient_1['mcrn']='999222'
patient_1['new key']='bbds'
patient_1

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964}
print(thisdict)
thisdict ['owner']='mark'
print(thisdict)
#to modify the value
thisdict ['brand'] ='mercedes benz'
print(thisdict)
#to remove the value
del thisdict ['brand']
print(thisdict)

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
for key,value in thisdict.items():
  print(key,value)
# to print keys only
  print(key)

In [ ]:
#Loop Through a Dictionary
#You can loop through a dictionary by using a for loop.

thisdict =	{
  "name": "Ford",
  "Last_Name": "baker",
  "mrn": "023432",
  "db": "1981/04/09"
}
for key,value in thisdict.items():
  print("\nkey:" + key)
  print("\nvalue:" + value)

In [ ]:
friend_ages =	{
  "nick": "30",
  "john": "25",
  "sali": "43",
  "dan": "33"}
fav_friend= ["nick","hop"] 
for name in friend_ages.keys():
  print(name.title())

  if name in fav_friend:
 
     print('Hi '+name.title() +",I see you are " + friend_ages[name])

while loop
Python has two primitive loop commands:
while loops
for loops
The while Loop
With the while loop we can execute a set of statements as long as a condition is true.

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

User Input
Python allows for user input.
That means we are able to ask the user for input.
The method is a bit different in Python 3.6 than Python 2.7.
Python 3.6 uses the input() method.

In [ ]:
username = input("Enter username:")
print("Username is: " + username)

In [ ]:
prompt="input a message. i will repeat it untill you type 'quit'"
message=""

while message !='quit':
  message = input(prompt)
  print(message)

Creating a Function
In Python a function is defined using the def keyword:

In [ ]:
#Example creating a function is the first atep
def my_function(age):
  print("Hello from a function"  + str(age) + " years old.")
age=77
my_function (age)

In [ ]:
#Calling a Function
#To call a function, use the function name followed by parenthesis:

#Example
def my_function():
  print("Hello from a function")

my_function()

In [ ]:
#Class Exercise
def year(age):
  print("Hello, I am " + age + " years old.")

year(15)

In [ ]:
#Information can be passed into functions as arguments.
def my_function(fname):
  "This function add up namea"
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

In [ ]:
#Lec 7 mini project odd,even

num = int(input("Enter a number: "))
if (num % 2) == 0:
   print(num," is Even".format(num))
else:
   print(num ," is Odd".format(num))

Enter a number: 7
7  is Odd

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

In [ ]:
def my_function(gggg):
  for x in gggg:
    print(x)

fruits= ["apple", "banana", "cherry"]
my_function(fruits)

In [ ]:
def my_function(age):
  """This function add up namea"""
  text = "My name is john, and I am {} years old"
  print(text.format(age))
  print("My name is john, and I am" + str(age) +"years old")
age=33
my_function(age)

In [ ]:
def person(age):
  """How old are you?"""
  print("I am "+age+" old!")
person("33")

In [ ]:
#If the number of keyword arguments is unknown, add a double ** before the parameter name:

def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

In [ ]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

In [ ]:
def my_function(state , country = "United States"):
  print("This state , " + state + " , is in the " + country)

my_function("New York")
my_function("New Jersey")
my_function("Florida")

In [ ]:
 while True:
        entry=int(input('Enter a number or 0 to quit:'))
        if entry % 2 == 0:
            print (format (entry), 'is an even number.')
        else:
            print (format (entry),'is an odd number.')

        if entry == 0:
            print ('All done!')
            break

Enter a number or 0 to quit:5
5 is an odd number.
Enter a number or 0 to quit:0
0 is an even number.
All done!

If the number is a multiple of 4, print out a different message.

Ask the user for two numbers: one number to check (call it num) and one number to divide by (check). If check divides evenly into num, tell that to the user. If not, print a different appropriate message.

In [ ]:
#Mini project bonus

    number = get_number() 
    if(number  % 2 == 0):
        print("Even number")
        if(number % 4 == 0):
           print("Even number and multiple of 4")
    else:
        print("Odd number")
    number2,number3= get_number() , get_number()
   
    if (number2 % number3 == 0):
        print("{} evenly devides {}".format(number2,number3))
    else:
        print("{} not evenly devides by {}".format(number2,number3))
def get_number():
       return int(input("Enter a number hhhhjjkk"))